/* .buttonNav{
    font-size:18px;
    width:200px;
    opacity: 0.6;
    padding: 14px 40px;
    border-radius: 0px;
    cursor: pointer;
   

}
.buttonNav:hover {
    background-color: #ffffff;
    opacity: 0.6;
} */


        

@import url('https://fonts.googleapis.com/css?family=Poiret+One');
