.CoachList{
  background: url(images/dumbellscrop.jpg) no-repeat center center fixed; 
  background-size: cover;
  margin: 0;
  padding: 0;
  height: 100vh;
} 
.ClientList{
  background: url(images/deadlift.jpeg) no-repeat center center fixed; 
  background-size: cover;
  margin: 0;
  padding: 0;
  height: 100vh;
}
.UserLandingPage{
  background: url(images/barbellsmall.jpg) no-repeat center center fixed; 
  background-size: cover;
  margin: 0;
  padding: 0;
  height: 100vh;
}

.CoachLandingPage{
  background: url(images/manbridge.jpg) no-repeat center center fixed; 
  background-size: cover;
  margin: 0;
  padding: 0;
  height: 100vh;
}

.MacroForm{
  background: url(images/crossfitdumbell.jpg) no-repeat center center fixed; 
  background-size: cover;
  margin: 0;
  padding: 0;
  height: 100vh;
}
.Login{
  background: url(images/mountainyoga.jpg) no-repeat center center fixed; 
  background-size: cover;
  margin: 0;
  padding: 0;
  height: 100vh;
  background-attachment: fixed;  
}
.loginForm{
  background: rgba(255,255,255,0.5);}
.Register{
  background: url(images/mountainyoga.jpg) no-repeat center center fixed; 
  background-size: cover;
  margin: 0;
  padding: 0;
  height: 100vh;
  background-attachment: fixed; 
 
}
/* .Login{
  background: url(images/ropeclimbresize.jpg) no-repeat center center fixed; 
  background-size: cover;
  margin: 0;
  padding: 0;
  min-width: 100%;
  min-height: 100%;



/* body {
 
  -o-background-size: cover;
	background-size: cover;
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

body {
  background-color: grey;
  padding: 20px;
  margin: 0;
}
h1, h2, p, ul, li {
  font-family: sans-serif;
}
ul.header li {
  display: inline;
  list-style-type: none;
  margin: 0;
}
ul.header {
  background-color: black;
  padding: 0;
}
ul.header li a {
  color: #FFF;
  font-weight: bold;
  text-decoration: none;
  padding: 20px;
  display: inline-block;
}
.content {
  background-color: #FFF;
  padding: 20px;
}
.content h2 {
  padding: 0;
  margin: 0;
}
.content li {
  margin-bottom: 10px;
}
*/
